.navbar {
    height: 46px;
    width: 100%;
    background-color: #FFF;
    box-shadow: 1.5px 1.5px 4px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: center;
    
    color: #9E51EB;

    font-family: 'Fredoka One', cursive;
    letter-spacing: 0.1rem;
    font-size: 20px;
    text-shadow: 0 1.3px 1.3px rgba(0, 0, 0, 0.356);

}

.navbar__container {
    min-width: 360px;
    max-width: 380px;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__logo {
    height: 40px;
    width: 40px;
}