.container__signup {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-signup {
    height: 100vh;
    width: 380px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.input__group--signup {
    height: 60%;
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form__field--signup{
    width: 70%;
    border: 1px solid #dcdcdc;
    border-radius: 12px;
    color: #333;
    font-size: 1rem;
    height: 50px;    
    padding: 0 24px;
}

.form__field--signup:focus{
    border-color: #9E51EB;
    box-shadow: 0 0 7px #9E51EB;
    outline: none;
}

.button--register{
    width: 120px;
    height: 45px;
    border-radius: 18px 18px 18px 0;
    border: none;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    outline: inherit;

    font-size: 0.8rem;
    color: #fff;
    cursor: pointer;

    background-color: #9E51EB;
    transition: filter 0.2s;
}

.button--register:hover{
    filter:brightness(90%);
}

/* .form-account {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.form__field--account {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    color: #333;
    font-size: 1.2rem;
    margin-bottom: 10px;

    width: 100%;
    height: 40px;
}
  
.form__field--account:focus {
    border-color: #a3f7ff;
    box-shadow: 0 0 7px #a3f7ff;
    outline: none;
}


.button {
    margin-top: 10px;
    height:50px;
    width: 80%;
    border-radius: 24px;
    border: none;

    font-weight: bold;
    color: #fff;
    background-color: rgba(128, 0, 85, 0.849);
    transition: all 400ms;
    outline: inherit;
}

.button:hover {
    transform: scale(1.1);

} */